<h1>Dice Roll</h1>

<ul>
  <li><a href="/dice/2/6" >Roll 2-Six Sided Dice</a></li>
  <li><a href="/dice/2/10" >Roll 2-Ten Sided Dice</a></li>
  <li><a href="/dice/1/20" >Roll 1-Twenty Sided Dice</a></li>
  <li><a href="/dice/5/4" >Roll 5-Four Sided Dice</a></li>
</ul>
